{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Welcome <span class="text-primary">{{app.user.username }}</span> from Instagram ✅</h1>
    {# <h2>Your IG Id is <span class="text-success">{{app.user.igId }}</span> </h2> #}

    <h3>Instagram info & content coming soon! (I hope)</h3>

</div>
{% endblock %}
